<app-navbar></app-navbar>

<div class=" d-flex flex-column mt-md-5 flex-lg-row align-items-center justify-content-center">



    <div class="images d-flex  flex-column justify-content-center align-items-center col-md-5">

        <div class="lead-image d-flex justify-content-center align-items-center w-md-50">
            <!-- <i class="fa fa-chevron-left fa-2x p-2" aria-hidden="true"></i> -->
            <img src="assets/image-product-1.jpg" alt="" class=" rounded">
            <!-- <i class="fa fa-chevron-right fa-2x p-2" aria-hidden="true"></i> -->
        </div>

        <div class="thumbnails d-none d-md-flex mt-4">
            <img src="assets/image-product-1-thumbnail.jpg" alt="" class="object-fit-cover border rounded">
            <img src="assets/image-product-2-thumbnail.jpg" alt="" class="object-fit-contain border rounded">
            <img src="assets/image-product-3-thumbnail.jpg" alt="" class="object-fit-contain border rounded">
            <img src="assets/image-product-4-thumbnail.jpg" alt="" class="object-fit-contain border rounded">

        </div>

    </div>





    <div class="info d-flex flex-column justify-content-center p-1 m-2 col-md-6">

        <div class="product-info">
            <p>SNEAKER COMPANY</p>

            <div class="short-desc col-7">
                <h4>Fall Limited Edition Sneaker</h4>
            </div>


            <div class="description col-9">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi labore eaque ut omnis voluptates eligendi
            </div>

            <div class="price mt-2">
                $125
            </div>
        </div>


        <div class="ToCart mt-3">

            <div class="toggleCart">
                <form class="d-flex align-items-center">
                    <input type="number" name="" placeholder="Quantity" id="shoes" min="1" class="qty me-1 p-1 rounded">
                    <button type="submit" value="Add to cart" class="submit rounded p-2"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart</button>
                </form>
            </div>
        </div>
    </div>
</div>